
<sl-button
  <% if(env.variant){ %>variant="<%=env.variant%>" <% } %>
  <% if(env.href){ %>href="<%=env.href%>" <% } %>
  <% if(env.size){ %>size="<%=env.size%>" <% } %>
  <% if(env.outline){ %>outline <% } %>
  <% if(env.pill){ %>pill<% } %>
  <% if(env.disabled){ %>disabled<% } %>
  <% if(env.classes){ %>class="<%=env.classes%>"<% } %>
  <% if(env.type){ %>type="<%=env.type%>"<% } %>
>
  <span><%=env.content%></span>
  <% if(env.icon){ %>
    <img slot="<%= env.icon.slot %>" src="<%= env.icon.src %>" alt="<%= env.icon.alt %>">
  <% } %>
</sl-button>