
<sl-button
  <% if(env.variant){ %>variant="<%=env.size%>" <% } %>
  <% if(env.href){ %>href="<%=env.href%>" <% } %>
  <% if(env.size){ %>size="<%=env.variant%>" <% } %>
  <% if(env.outline){ %>outline <% } %>
  <% if(env.pill){ %>pill<% } %>
  <% if(env.classes){ %>class="<%=env.classes%>"<% } %>
  <% if(env.type){ %>type="<%=env.type%>"<% } %>
>
  <span><%=env.content%></span>
  <% if(env.icon){ %><img src="<%=env.icon.src%>" alt="<%=env.icon.alt%>"><% } %>
</sl-button>