<div class="form__fields">
  <%- include('templates/components/inputs/slInput.ejs', {
    env: {
      staticContentPath: 'templates/layouts/tooltips/fieldTooltip.ejs',
      classes: 'form__input form__field',
      name: 'first-name',
      id: 'contactsFirstName',
      validate: 'minLength:2;required;letters',
      label: 'First name',
      placeholder: 'Enter first name',
      autocomplete: true
    }
  }) %>
  <%- include('templates/components/inputs/slInput.ejs', {
    env: {
      staticContentPath: 'templates/layouts/tooltips/fieldTooltip.ejs',
      classes: 'form__input form__field',
      name: 'last-name',
      id: 'contactsLastName',
      validate: 'minLength:2;required;letters',
      label: 'Last name',
      placeholder: 'Enter last name',
      autocomplete: true
    }
  }) %>
  <%- include('templates/components/inputs/slInput.ejs', {
    env: {
      staticContentPath: 'templates/layouts/tooltips/fieldTooltip.ejs',
      classes: 'form__input form__field',
      name: 'email',
      id: 'contactsEmail',
      validate: 'email;required',
      label: 'Email',
      placeholder: 'Enter email',
      autocomplete: true
    }
  }) %>
  <%- include('templates/components/form/formField.ejs', {
    env: {
      staticContentPath: 'templates/layouts/formFields/phoneField.ejs',
      classes: 'form__input',
      validate: 'required;phone',
      inputProps: {
        type: "tel",
        name: 'phone',
        id: 'contactsPhoneNumber',
        label: 'Phone number',
        placeholder: 'Enter phone number',
      }
    }
  }) %>
</div>
<%- include('templates/components/button/slButton.ejs', {
  env: {
    classes: 'btn-primary btn-xl',
    type: 'submit',
    variant: 'primary',
    content: 'Get Your Exclusive Quote',
  }
}) %>