<% if(env.staticDropdownContentObject){ %><sl-dropdown  class="form__field-dropdown"><% } %>
  <div 
    class="form__field <%= env.classes %>"
    <% if(env.validate){ %>data-validate="<%=env.validate%>" <% } %>
    <% if(env.staticDropdownContentObject){ %>slot="trigger"<% } %>
  >
    <% if(env.staticContentPath){ %>
      <%- include(env.staticContentPath, {
        env: env.inputProps
      }) %>
    <% } else{ %>
      <%- env.content %>
    <% } %>
    <% if(env.tooltip){ %>
      <sl-tooltip content="" slot="suffix" hoist>
        <div class="field-status"></div>
      </sl-tooltip>
    <% } %>
  </div>
  <% if(env.staticDropdownContentObject){ %>    
    <%- include(env.staticDropdownContentObject.dropdownContentPath, {
      env: env.staticDropdownContentObject
    }) %>
  <% } %>
<% if(env.staticDropdownContentObject){ %></sl-dropdown><% } %>