<% if (env.sections) { %>        
  <% for(var i=0; i < env.sections.length; i++) { %>
    <section 
      id="book-<%= i+1 %>"
      class="book section"
    >
      <div class="container">
        <h2 class="book__title">
          Book Business Class
          Flight to <a href="/europe">Europe</a>
        </h2>
        <div 
          class="book__cards show-more-cards"
          <% if(typeof env !== 'undefined' && env.sections[i].desktopCount){ %>data-desktop-count="<%=env.sections[i].desktopCount%>" <% } %> 
          <% if(typeof env !== 'undefined' && env.sections[i].mobileCount){ %>data-mobile-count="<%=env.sections[i].mobileCount%>" <% } %> 
          <% if(typeof env !== 'undefined' && env.sections[i].initHide){ %>data-hide="<%=env.sections[i].initHide%>" <% } %> 
        >
          <% if(typeof env !== 'undefined'){ %>        
            <% for(var y=0; y < env.sections[i].cards.length; y++) { %>
              <%- include('templates/layouts/sections/book/bookCard.ejs', { 
                env: env.sections[i].cards[y]
              }) %>
            <% } %>
          <% } %> 
        </div>
        <p class="show-more-text"></p>
        <%- include('templates/layouts/showMoreButton.ejs', {
          env: {
            text: 'More'
          }
        }) %>
      </div>
    </section>
  <% } %>
<% } %>

