<% if(env.label){ %>
  <label
    <% if(env.id){ %>for="<%=env.id%>" <% } %>
  >
    <%=env.label%>
  </label>
  <% } %>
<input 
  <% if(env.classes){ %>class="<%=env.classes%>" <% } %>
  <% if(env.initParams){ %>data-params="<%=env.initParams%>" <% } %>
  <% if(env.name){ %>name="<%=env.name%>" <% } %>
  <% if(env.id){ %>id="<%=env.id%>" <% } %>
    <% if(env.type){ %>type="<%=env.type%>" <% } %>
  <% if(env.readonly){ %>readonly="<%=env.readonly%>" <% } %>
  <% if(env.placeholder){ %>placeholder="<%=env.placeholder%>" <% } %>
/>
<% if(env.static){ %>
  <%- include('templates/layouts/tooltips/fieldTooltip.ejs') %>
<% } else { %>
  <%- env.fieldTooltipContent %>
<% } %>