<div class="fly-trip-type-block">
  <input id="<%= env.id %>" type="radio" name="fly_trip_type" class="fly-trip-radio" value="<%= env.value %>" />
  <label for="<%= env.id %>">
    <span class="fly-trip-type">
      <span class="icon"><i class="<%= env.icon %>"></i></span>
      <p><%= env.value %></p>
    </span>
  </label>
</div>