<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__info">
        <div>
          <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/logo.svg" alt="logo" width="240" height="78" />
        </div>
        <div class="footer__items">
          <a href="./booking/">How to book</a>
          <a href="./aboutus/">About us</a>
          <a href="./#reviews">Reviews</a>
          <a href="./faq/">FAQ</a>
          <a href="./contacts/">Contacts</a>
        </div>
        <div class="footer__sitemap">
          <a href="tel:+1844-447-0007" class="google_ads_link">
            <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/phone2.svg" alt="phone2" width="24" height="24" />
            <span>+ 1 844-447-0007</span>
          </a>
          <a href="mailto:info@flyer-club.com" class="mail">
            <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/mail2.svg" alt="mail2" width="24" height="24" />
            <span>info@flyer-club.com</span>
          </a>
          <span>
            <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/system-uicons_location.svg" alt="system-uicons" width="24" height="24" />
            <span>1603 Capitol Avenue,<br />
              Suite 413 #B102, Cheyenne, WY, 82001</span>
          </span>
        </div>
        <div class="socials">
          <a href="https://www.facebook.com/profile.php?id=100090937400670"><img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/facebook2.svg" alt="facebook2"
              width="32" height="32" /></a>
          <a href="https://www.instagram.com/flyerclubus/"><img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/instagram-fill2.svg" width="32" height="32"
              alt="instagram2" /></a>
          <a href="https://www.linkedin.com/company/flyer-club/"><img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/linkedin2.svg" width="32" height="32"
              alt="linkedin2" /></a>
          <a href="https://twitter.com/flyerclubinc"><img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/twitter2.svg" width="32" height="32"
              alt="twitter2" /></a>
        </div>
      </div>
      <div class="footer__information">
        <span>© 2024 FLYER-CLUB, INC. All rights reserved.</span>
        <div>
          <a href="https://flyer-club.com/privacypolicy/">Privacy Policy</a>
          <a href="https://flyer-club.com/termsofuse/">Terms of Use</a>
          <a href="https://flyer-club.com/disclaimer/">Disclaimer</a>
        </div>
      </div>
      <div class="footer__price_disclaimer">
        <p>
          Airline ticket prices are highly dynamic and subject to change based on various factors such as
          demand, time of booking, and seat availability. Advertised prices are in US dollars and include all
          relevant taxes, fees, and surcharges, and are 'from' per person rates based on business class travel
          during weekdays (Monday through Thursday) from the USA. A minimum of 2 passengers per booking is
          often required for these rates. Prices vary according to service class, city of departure, airline,
          and route, with the East Coast typically offering lower transatlantic fares and the West Coast lower
          transpacific fares.
          <br><br>
          1. Dynamic Pricing by Airlines: Please note that the advertised prices may have been based on
          specific conditions at a particular moment that no longer exist when you attempt to book, especially
          on popular routes or during peak seasons.
          <br><br>
          2. Limited Promotional Seats: Many promotional fares are limited to a certain number of seats per
          flight. Once these seats are sold, the promotion may not apply, leading to a possibility of the
          advertised price being unavailable.
          <br><br>
          3. Blackout Dates and Travel Restrictions: Advertised prices might not be applicable during blackout
          dates, which often include holidays and peak seasons. Additional travel restrictions such as advance
          purchase, stay conditions, or specific travel days may apply.
          <br><br>
          Savings of up to 73% off the full, unrestricted published fares of major airlines are possible, but
          the exact savings will depend on each fare's regulations. Some airlines may charge extra for
          additional baggage. Prices depend on seat availability in the relevant booking inventory, and there
          is a limited number of seats available. Some flights and dates may not have availability.
          Prices are adjustable, and our partner airlines currently offer free exchange and/or cancellation.
          In the event of a cancellation, clients will retain their travel credits with the issuing airline
          for a year, minus any airline fees, unless otherwise specified. Fare differences may apply in case
          of exchanges. Prices and applicable rules are subject to change at any time without notice, and
          additional limitations may apply. Flyer Club is unable to identify some travel suppliers or
          itinerary details online to avoid direct competition with the travel supplier's normal retail sales
        </p>
      </div>
    </div>
  </div>
</footer>

<script type="module" src="/main.js"></script>