<div class="hero-partners">
  <ul class="hero-partners__list">
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/partner1.svg" alt="partner 1" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          Deutsche Lufthansa AG 
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/partner2.svg" alt="partner 2" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          Emirates Airline
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/partner3.svg" alt="partner 3" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          Turkish Airlines
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/partner4.svg" alt="partner 4" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          British Airways plc
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/partner5.svg" alt="partner 5" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          American Airlines, Inc
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/partner6.svg" alt="partner 6" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          Swiss International Air Lines AG
        </span>
      </a>
    </li>
    <li class="hero-partners__item">
      <a href="#" class="hero-partners__link">
        <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/partner7.svg" alt="partner 7" class="hero-partners__logo" />
        <span class="hero-partners__link-text">
          Air New Zealand Limited
        </span>
      </a>
    </li>
  </ul>
  <%- include('templates/components/button/slButton.ejs', {
    env: {
      classes: 'btn-primary btn-sm hero-partners__button',
      content: 'All Partners',
    }
  })%>
</div>
