<div class="form__fields-search">
  <% if(env.static){ %>
    <%- include('templates/components/inputs/slInput.ejs', {
      env: {
        tooltip: 'true',
        staticContentObject: {
          path: 'templates/layouts/formFields/fromHiddenInputs.ejs',
          pathObject: {
            groupIndex: env.groupIndex,
            cityAirportVal: '',
            cityCodeVal: '',
            originEntityIdVal: '',
          }
        },
        classes: 'form__input form__field',
        name: `flight[${env.groupIndex}]["from"]`,
        id: `${env.formName}FirstName${env.groupIndex}`,
        validate: 'minLength:2;required;letters',
        label: 'From',
        placeholder: 'New York (NY)',
        autocomplete: true
      }
    }) %>
  <% } else if (env.fromContent) { %>
   <%- env.fromContent %>
  <% } %>
  <button type="button" class="form__exchange-button">
    <img src="<%= process.env['VITE_STATIC_PATH'] %>/icons/exchange.svg" alt="">
  </button>
  <% if(env.static){ %>
    <%- include('templates/components/inputs/slInput.ejs', {
      env: {
        tooltip: 'true',
        staticContentObject: {
          pathObject: {
            groupIndex: env.groupIndex,
            path: 'templates/layouts/formFields/toHiddenInputs.ejs',
            cityAirportToVal: '',
            cityCodeToVal: '',
            destinationEntityId: '',
          }
        },
        classes: 'form__input form__field',
        name: `flight[${env.groupIndex}]["to"]`,
        id: `${env.formName}To${env.groupIndex}`,
        validate: 'minLength:2;required;letters',
        label: 'To',
        placeholder: 'Los Angeles (LA)',
        autocomplete: true
      }
    }) %>
  <% } else if (env.toContent) { %>
   <%- env.toContent %>
  <% } %>

</div>
<% if(env.static){ %>
  <%- include('templates/components/form/formField.ejs', {
    env: {
      tooltip: true,
      staticContentPath: 'templates/layouts/formFields/formField.ejs',
      classes: 'form__input form__date',
      validate: `required;date:${env.dateCount || 1}`,
      inputProps: {
        static: 'true',
        name: `flight[${env.groupIndex}]['date']`,
        id: `${env.formName}Date${env.groupIndex}`,
        label: 'Date',
        readonly: "readonly",
        placeholder: env.dateCount > 1 ? '13 Apr 2024 – 20 Apr 2024' : '13 Apr 2024',
        initParams: `autoClose:true;addon:right;multipleDatesSeparator: – ;${env.dateCount > 1 ? 'range' : ''};dateFormat:d MMM yyyy`
      }
    }
  }) %>
<% } else if (env.dateContent) { %>
  <%- env.dateContent %>
<% } %>
