<%- env.nameInput %>
<%- env.animalSelect %>
<%- env.commentTextarea %>
<%- env.submitCheckbox %>
<div class="form__field">
  <sl-input label="Username" name="username" data-validate="minLength:5"></sl-input>
  <div class="error-message"></div>
</div>
<div class="form__field">
  <sl-select label="Country" name="country" data-validate="required">
    <sl-option value="">Select a country</sl-option>
    <sl-option value="us">United States</sl-option>
    <sl-option value="ca">Canada</sl-option>
  </sl-select>
  <div class="error-message"></div>
</div>
<div class="form__field">
  <input type="tel" name="phone" data-validate="required">
  <div class="error-message"></div>
</div>
<div class="form__field">
  <input type="text" name="date" data-validate="required">
  <div class="error-message"></div>
</div>
<div class="form__field">
  <sl-textarea label="Message" name="message" data-validate="required;minLength:10"></sl-textarea>
  <div class="error-message"></div>
</div>
<div class="form__field">
  <sl-checkbox name="agree" data-validate="required">I agree to the terms and conditions</sl-checkbox>
  <div class="error-message"></div>
</div>

<div id="dynamicFields">
  <!-- <div class="form__field">
    <sl-input label="Dynamic Field" class="dynamic-input" name="dynamicField0" data-validate="required"></sl-input>
    <div class="error-message"></div>
  </div> -->
</div>
<sl-button type="button" id="addField">Add Field</sl-button>
<sl-button type="button" id="removeField">Remove Field</sl-button>
<%- env.submitButton %>
